body {
    margin: 0px;
}
svg g {
    fill: #1b8888;
    fill-opacity: 0.6;
}
span svg path {
    fill: white;
    stroke: none;
}
svg path {
    fill: none;
    stroke: #03090a;
    stroke-width: 0.1em;
    stroke-opacity: 0.9;
    stroke-linecap: round;
    stroke-linejoin: round;
}
